.container {
    position: relative;
    z-index: 1;
}
.module {
    padding: 30px 0;
    text-align: center;
    background: #090A0B;
}
.main h2 {
    color: #5451B0;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}

.content {
    padding: 20px 0;
    position: relative;
    min-height: 500px;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}
.content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.67;
}
.content ul {
    text-align: start;
}
.content ul li {
    display: flex;
    gap: 20px;
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
}
.content ul li:not(:last-child){
    margin-bottom: 20px;
}
.content ul li::before {
    content: '';
    flex-shrink: 0;
    width: 10px;
    height: 10px;
    border: 3px solid #5451B0;
    border-radius: 50%;
}