.accord {
    background: none;
}
.main {
    padding: 20px 0 100px;
    background: #101113;
    min-height: 100vh;
    text-align: start;
}
.main h1 {
    font-weight: 500;
    font-size: 30px;
    line-height: 43px;
    padding-bottom: 10px;
    border-bottom: 1px solid #013D71;
    margin-bottom: 15px;
}
.sbt h2 {
    color: white;
    text-align: start;
}
.main h3 {
    font-weight: 600;
    margin-bottom: 20px;
}
.main p {
    margin: 20px 0;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: white;
}
/* .main strong {
    color: #013D71 !important;
} */
.sbtB {
    border-bottom: 1px solid #013D71;
}
.sbtH {
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.sbtB img {
    width: 100%;
}
.sbt .picture {
    margin: 20px 0;
}
.sbt .picture span {
    font-size: 7px;
}
.sbt .picture strong {
    color: #5451B0;
}
.ulB h3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
}
.ulB ul {
    margin: 20px 0;
}
.ulB ul li {
    display: flex;
    align-items: center;
    gap: 5px;
}
.ulB ul li::before {
    content: '';
    width: 10px;
    height: 10px;
    background: #013D71;
    border-radius: 50%;
}
.ulB ul li:not(:last-child) {
    margin-bottom: 20px;
}
table {
    border: 1px solid #013D71;
    font-size: 12px;
    width: 100%;
}
tr {
    border: 1px solid #013D71;
}
td {
    padding: 5px;
    border: 1px solid #013D71;
    max-width: 100px;
    width: 100px;
    min-height: 40px;
    height: 40px;
    text-align: start;
}