.container {
    position: relative;
    z-index: 5;
}
.block {
    padding: 50px 0;
    position: relative;
    text-align: center;
}
.block::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.block::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.block p:not(:last-child) {
    margin-bottom: 15px;
}
.home {
    height: 290px;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.home::before {
    background: #5451B0;
    opacity: 0.52;
}
.home::after {
    background: radial-gradient(51.62% 51.21% at 50% 55.69%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
    opacity: 0.5;
}
.backShadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.6;
}
.main h1 {
    z-index: 2;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
}
.main span {
    z-index: 2;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
}
.study::before {
    background: #5451B0;
    mix-blend-mode: soft-light;
    opacity: 0.9;
    z-index: 1;
}
.study::after {
    background: #000000;
    opacity: 0.6;
}
.main h2 {
    margin-bottom: 20px;
}
.main p {
    text-align: start;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;    
}
.for::before {
    background: #5451B0;
    mix-blend-mode: soft-light;
    opacity: 0.25;
}
.for::after {
    background: #000000;
    opacity: 0.6;
}