* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'TT Travels', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: 12px;
    line-height: 14px;
    color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: none;
}

button {
  background-color: inherit;
  border: none;
  outline: none;
}

a {
  color: white !important;
  text-decoration: none !important;
}

h2 {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.container {
  padding: 0 20px;
}